@import url('reset.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
   font-family: 'Open Sans', sans-serif;
}

p {
   font-family: serif;
   letter-spacing: .05rem;
   font-size: 1.2rem;
   color: rgb(65, 64, 64);
}

a {
   color: orange;
   text-decoration: none;
}

a:visited {
   color: grey;
}

a:hover {
   color: crimson;
}

body {
   width: 90%;
   margin: 0 auto;

   background: url(assets/img/logo_Becode.png), -webkit-linear-gradient(bottom right, rgb(255, 255, 255), rgb(134, 169, 183));

   background: url(assets/img/logo_Becode.png), linear-gradient(bottom right, rgb(255, 255, 255), rgb(134, 169, 183));

   background-position: bottom right;
   background-attachment: fixed;
   /* background-size: cover; */

   background-repeat: no-repeat;
}

blockquote {
   width: 50vw;
   margin: 0 auto;
   font-size: 1.6rem;
   background-color: lightgray;
   border-left: 3px solid rgb(65, 64, 64);
   padding: 30px;
   margin: 80px 0;

   font-style: italic;
}

.villagers {
   border-left: 3px solid cyan;
}

.farmer {
   border-left: 3px solid orange;
}

header h1:first-child {
   background-color: yellow;
}

q {
   font-style: italic;
}

.good, .bad {
   text-transform: uppercase;
   color: green;
}

.bad {
   color: red;
}

table tr {
   background-color: #fff;
}

table tr:nth-of-type(even), table thead tr {
   background-color: lightgray;
}

ul li {
   background-repeat: no-repeat;
   background-position: 32ch 0;
   padding: 1rem 0;
}

ul li:first-child {
   background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-4.14/master/03-HTML-CSS/html-css-2/bien.png?token=AHLXUQ6DXYKPI2OPNMJPTPK5NYYAU");
}

ul li:nth-child(2) {
   background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-4.14/master/03-HTML-CSS/html-css-2/mal.png?token=AHLXUQ6E5XJ4SRYNHTCLNW25NYZFK");
}

ul li:nth-of-type(3) {
   background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-4.14/master/03-HTML-CSS/html-css-2/chat.png?token=AHLXUQ6BZAMCQFIPW7SLW2K5NY252");
}

header p:first-of-type {
   font-weight: bold;
}

main section img {
   width: 500px;
   margin: .5rem;
}

main section figure:first-of-type{
   float: left;
}

main section:first-child figure:nth-of-type(2){
   float: none;
}

main section p {
   font-size: 1.5rem;
}

main section:first-child::after {
   content: "";
   clear: both;
}

main section figure::after{
   content: '';
   display: block;
   clear: both; 
}

caption {
   caption-side: bottom;
}